<div class="flex-container" id="agGridCustData">
  <div style="border:1px solid lightgrey; height: 100%">
    <div id="myPortfolio" class="header-text"> Risk Insights Interactive Demo</div>

    <mat-tab-group style="border:1px solid lightgrey; height: 90%; border-radius: 4px" [color]="white" [backgroundColor]="red">
      <mat-tab label="First" >
        <ng-template matTabContent>
          <div style="color:rgb(64, 69, 128); font-weight: 300;font-size: 18px; line-height: 50px;text-align: center;background-color: #f0f4f5 ">Analize and Explore the exposure of different regions within a bank holding company. <u>More Info</u></div>
            <div class="flex-inner-tabs">
                <div class="flex-inner-tabs-details">
                    <div style="height:250px; text-align: center">
                      <span class="dd-chart-header">ECONOMY vs REGULATORY CAPITAL BY INDUSTRY </span>
                    <canvas #BarChar baseChart width="1" height="0" [legend]="barLegend" [chartType]="'horizontalBar'" [datasets]="BarChartData" [labels]="BarCharLabels" [options]="barChartOptions"
                    [colors]="BarChartColors" 
                    (chartClick)="onChartClick($event)" >
                  </canvas>
                  </div>
                  </div>
        
                  <div class="flex-inner-tabs-details">
                      <div style="height:300px;text-align: center ">
                          <span class="dd-chart-header">EXPOSURE BY REGIONALY CAPITAL OPERATING UNIT</span>
                      <canvas #DoughnutChart width="1" height="0" baseChart [data]="doughnutChartData" [chartType]="doughnutChartType" [colors]="colors" [options]="chartOptions"
                      [labels]="chartLabels" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"  >
                    </canvas>
                  </div>
                  </div>
                  <div class="flex-inner-tabs-full" >
                    <app-summary-grid></app-summary-grid>
        
                  </div>
                  
                </div>
        
        </ng-template>
      </mat-tab>
      <mat-tab label="Second">
        <ng-template matTabContent>
test
        </ng-template>
      </mat-tab>
      <mat-tab label="Third">
        <ng-template matTabContent>
          Content 3 3-
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>